body {
  background: #0a0a0f;
  color: var(--ig-surface-500-contrast, #ccc);
  font-family: var(--ig-font-family);
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

/* minor CSS reset */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
